Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md

Rename trim-tool-name.js to trim-tool-name.js
  .opencode/tools/trim-tool-name.js
Due: none

⚡ Optimize git ls-files cache to prevent redundant subprocesses (#177)
  pr_description.md
  vp-dev.py
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

chore: update PKGBUILDs: Updated cromite:143.0.7499.110->145.0.7632.46; Skipped others:already latest
  chromium/.SRCINFO
  chromium/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Fix unsupported checkout input in reusable agent workflow (#179)
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update opencode.json
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Delete .opencode/tools directory
  .opencode/tools/trim-tool-name.js
Due: none

Update .gitignore
  .opencode/.gitignore
Due: none

Delete .github/workflows/jules-cleanup.yml
  .github/workflows/jules-cleanup.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete DEPENDENCY_AUDIT_REPORT.md
  DEPENDENCY_AUDIT_REPORT.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete lefthook.yml
  lefthook.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete CLAUDE.md
  CLAUDE.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete DEPENDENCY_BLOAT_ANALYSIS.md
  DEPENDENCY_BLOAT_ANALYSIS.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete GEMINI.md
  GEMINI.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update opencode-config.json
  .github/builder/opencode-config.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

docs: update AGENTS.md, copilot-instructions.md; add CLAUDE.md symlink (#182)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete pr_description.md
  pr_description.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

cleanup: remove dead code and deduplicate find_pkgs
  autofdo.sh
  cachyos-benchmarker.sh
  check-isa-level.sh
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

cleanup: remove dead code and deduplicate find_pkgs (#183)
  autofdo.sh
  cachyos-benchmarker.sh
  check-isa-level.sh
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

test: add unit tests for ffmpeg update_scripts utility
  ffmpeg/tests/test_update_scripts.py
Due: none

chore: remove duplicate _populate_files_cache calls
  vp-dev.py
Due: none

Update ffmpeg/tests/test_update_scripts.py
  ffmpeg/tests/test_update_scripts.py
Due: none

🧪 [testing improvement] Add unit tests for ffmpeg update_scripts utility (#184)
  ffmpeg/tests/test_update_scripts.py
Due: none

Update vp-dev.py
  vp-dev.py
Due: none

🧹 remove duplicate _populate_files_cache calls in vp-dev.py (#185)
  vp-dev.py
Due: none

Update README.md
  README.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

perf: optimize Arch database lookup in find_updates.py
  find_updates.py
Due: none

find_updates.py: Modernize type hints and remove redundant cast
  find_updates.py
Due: none

find_updates.py: Modernize type hints and remove redundant cast (#188)
  find_updates.py
Due: none

perf: optimize Arch database lookup in find_updates.py (#187)
  find_updates.py
Due: none

Replace abandoned CI actions with repo-local pkgbuild validation (#190)
  .github/actions/pkgbuild/action.yaml
  .github/actions/pkgbuild/entrypoint.sh
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig
