Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

🧪 Added tests for updpkgsums in vp-dev (#264)
  tests/test_vp_dev.py
Due: none

🧹 [code health] Remove unused mock_open import from test_vp_dev.py (#265)
  tests/test_vp_dev.py
Due: none

🧹 Refactor discord/krisp-patcher.py to encapsulate logic into functions (#263)
  discord/krisp-patcher.py
Due: none

perf(vp-dev): use generator expression inside sorted()
  tools/vp-dev.py
Due: none

⚡ Optimize SRCINFO file parsing
  tools/vp-dev.py
Due: none

Refactor wmaenc.c exponent loop to use lookup table
  ffmpeg/patches/0001-Refactor-exponent-parsing-to-use-lookup-table.patch
Due: none

⚡ Optimize SRCINFO file parsing (#268)
  tools/vp-dev.py
Due: none

⚡ perf(vp-dev): optimize memory using generator expression in `sorted()` (#267)
  tools/vp-dev.py
Due: none

Refactor WMA encoder exponent code loop to use lookup table (#269)
  ffmpeg/patches/0001-Refactor-exponent-parsing-to-use-lookup-table.patch
Due: none

Update 5 packages to latest upstream versions
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
  uutils/findutils/.SRCINFO
  uutils/findutils/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

fix nvchecker tracking and remove dropped packages
  .github/nvchecker/old_ver.json
  nvchecker.toml
  sudachi/PKGBUILD
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Remove sudachi and watchman, update wine-cachyos and nvchecker config (#272)
  .github/nvchecker/old_ver.json
  nvchecker.toml
  sudachi/PKGBUILD
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

refactor(vp-dev): refine exception handling and fix CI issues
  .github/actions/pkgbuild/entrypoint.sh
  .github/actions/pkgremove/entrypoint.sh
  .github/builder/Dockerfile
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/aur-push.yml
  .github/workflows/build-container.yml
  .github/workflows/build.yml
  .github/workflows/check-updates.yml
  .github/workflows/package-build.yml
  vp-dev.py
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

⚡ Optimize list creation and nullity checks in find_updates.py
  tools/find_updates.py
Due: none

fix(java): correct bash variable chaining for compiler flag workarounds
  java/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

fix(action): use sudo for pacman-key initialization
  .github/actions/pkgbuild/entrypoint.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

chore(java): generate missing .SRCINFO files
  java/.SRCINFO
  java/java-openjdk/.SRCINFO
Due: none

chore(java): add missing empty install scripts
  java/install_jdk-openjdk.sh
  java/install_jre-openjdk-headless.sh
  java/install_jre-openjdk.sh
  java/java-openjdk/install_jdk-openjdk.sh
  java/java-openjdk/install_jre-openjdk-headless.sh
  java/java-openjdk/install_jre-openjdk.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

chore(java): update .SRCINFO files to match PKGBUILD
  java/.SRCINFO
  java/java-openjdk/.SRCINFO
Due: none

fix(java): correct bash variable chaining for compiler flag workarounds (#276)
  .github/actions/pkgbuild/entrypoint.sh
  java/.SRCINFO
  java/PKGBUILD
  java/install_jdk-openjdk.sh
  java/install_jre-openjdk-headless.sh
  java/install_jre-openjdk.sh
  java/java-openjdk/.SRCINFO
  java/java-openjdk/install_jdk-openjdk.sh
  java/java-openjdk/install_jre-openjdk-headless.sh
  java/java-openjdk/install_jre-openjdk.sh
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, check-executables, editorconfig

Update vp-dev.py
  vp-dev.py
Due: none

⚡ Optimize list creation and nullity checks in find_updates.py (#275)
  tools/find_updates.py
Due: none

update: bump 6 packages to latest upstream versions
  .github/nvchecker/new_ver.json
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  endeavouros-mirrorlist/.SRCINFO
  endeavouros-mirrorlist/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  nvchecker.toml
  smartdns-rs/.SRCINFO
  smartdns-rs/PKGBUILD
  wine-cachyos/.SRCINFO
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Update TODO.md
  TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .github/instructions directory
  .github/instructions/github-actions.instructions.md
  .github/instructions/pkgbuild.instructions.md
  .github/instructions/shell.instructions.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .github/skills directory
  .github/skills/copilot-init/SKILL.md
  .github/skills/repo-janitor/SKILL.md
  .github/skills/update-pkgbuild/SKILL.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .github/PACKAGE_README_TEMPLATE.md
  .github/PACKAGE_README_TEMPLATE.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete gemini-cli directory
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Fix nvchecker config bugs and replace lefthook docs with prek
  README.md
  TODO.md
  nvchecker.toml
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Remove blanket Electron security-warning suppression (T001)
  PLAN.md
  filen-desktop/filen-desktop.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig, markdownlint

Add missing .SRCINFO for filen-desktop
  filen-desktop/.SRCINFO
Due: none

Fix pkgbuild-lint action missing pacman-contrib; address review feedback
  .github/actions/pkgbuild/Dockerfile
  PLAN.md
  README.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Add git to pkgbuild-lint Docker image
  .github/actions/pkgbuild/Dockerfile
Due: none

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
