Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md

Replace lefthook with prek for pre-commit hooks (#279)
  .github/actions/pkgbuild/Dockerfile
  PLAN.md
  README.md
  TODO.md
  filen-desktop/.SRCINFO
  filen-desktop/filen-desktop.sh
  nvchecker.toml
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig, markdownlint

Update PKGBUILDs
  .github/nvchecker/old_ver.json
  firefox/.SRCINFO
  firefox/PKGBUILD
  umu-launcher/.SRCINFO
  umu-launcher/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Update packages to latest upstream versions
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  prismlauncher/.SRCINFO
  prismlauncher/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Delete DEPENDENCY_POLICY.md
  DEPENDENCY_POLICY.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update packages: code 1.128.0→1.129.1, filen-desktop v3.0.47→v3.0.52, firefox 152.0.5→152.0.6, wine-cachyos, mesa-git
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  filen-desktop/.SRCINFO
  filen-desktop/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  wine-cachyos/.SRCINFO
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Update TODO.md
  TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update packages to latest upstream versions
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  filen-desktop/.SRCINFO
  filen-desktop/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  legcord/.SRCINFO
  legcord/PKGBUILD
  obs-studio/.SRCINFO
  obs-studio/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
  uutils/findutils/.SRCINFO
  uutils/findutils/PKGBUILD
  wine-cachyos/.SRCINFO
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Update _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Fix packages: add vscodium-prod-patcher, prune nvchecker, speed up agent CI
  .github/instructions/github-actions.instructions.md
  .github/instructions/pkgbuild.instructions.md
  .github/instructions/shell.instructions.md
  .github/nvchecker/old_ver.json
  .github/skills/copilot-init/SKILL.md
  .github/skills/repo-janitor/SKILL.md
  .github/skills/update-pkgbuild/SKILL.md
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .gitignore
  .opencode/agents/pkg-updater.md
  .opencode/agents/pkgbuild-reviewer.md
  .opencode/agents/workflow-auditor.md
  .opencode/commands/check.md
  .opencode/commands/review-pkg.md
  .opencode/commands/update-pkg.md
  .opencode/instructions.md
  .opencode/opencode.json
  .opencode/skills/repo-janitor
  .opencode/skills/update-pkgbuild
  AGENTS.md
  TODO.md
  nvchecker.toml
  vscodium-prod-patcher/PKGBUILD
  vscodium-prod-patcher/readme.md
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig, markdownlint

Move skills and instructions into .opencode
  .github/copilot-instructions.md
  .github/workflows/_update-pkgbuilds.yml
  .opencode/agents/pkg-updater.md
  .opencode/agents/pkgbuild-reviewer.md
  .opencode/agents/workflow-auditor.md
  .opencode/commands/review-pkg.md
  .opencode/commands/update-pkg.md
  .opencode/instructions.md
  .opencode/opencode.json
  .opencode/rules/github-actions.instructions.md
  .opencode/rules/pkgbuild.instructions.md
  .opencode/rules/shell.instructions.md
  .opencode/skills/copilot-init/SKILL.md
  .opencode/skills/repo-janitor
  .opencode/skills/repo-janitor/SKILL.md
  .opencode/skills/update-pkgbuild
  .opencode/skills/update-pkgbuild/SKILL.md
  AGENTS.md
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig, markdownlint

Update opencode.json
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Update .editorconfig
  .editorconfig
Due: none

Rename github-actions.instructions.md to github-actions.md
  .opencode/rules/github-actions.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Rename pkgbuild.instructions.md to pkgbuild.md
  .opencode/rules/pkgbuild.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Rename shell.instructions.md to shell.md
  .opencode/rules/shell.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .opencode/skills/copilot-init directory
  .opencode/skills/copilot-init/SKILL.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Rewrite AGENTS.md for accuracy and density
  .github/workflows/_update-pkgbuilds.yml
  .opencode/agents/pkg-updater.md
  .opencode/agents/pkgbuild-reviewer.md
  .opencode/agents/workflow-auditor.md
  .opencode/commands/review-pkg.md
  .opencode/instructions.md
  AGENTS.md
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig, markdownlint

Install ripgrep with cached apt in _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .github/SECURITY.md
  .github/SECURITY.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Claude/fix packag (#288)
  .editorconfig
  .github/SECURITY.md
  .github/copilot-instructions.md
  .github/nvchecker/old_ver.json
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .gitignore
  .opencode/agents/pkg-updater.md
  .opencode/agents/pkgbuild-reviewer.md
  .opencode/agents/workflow-auditor.md
  .opencode/commands/check.md
  .opencode/commands/review-pkg.md
  .opencode/commands/update-pkg.md
  .opencode/instructions.md
  .opencode/opencode.json
  .opencode/rules/github-actions.md
  .opencode/rules/pkgbuild.md
  .opencode/rules/shell.md
  .opencode/skills/repo-janitor/SKILL.md
  .opencode/skills/update-pkgbuild/SKILL.md
  AGENTS.md
  TODO.md
  nvchecker.toml
  vscodium-prod-patcher/PKGBUILD
  vscodium-prod-patcher/readme.md
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig, markdownlint

Delete borked3DS directory
  borked3DS/.SRCINFO
  borked3DS/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update packages: code, endeavorouros-mirrorlist, firefox, obs-studio, qpdf
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  endeavouros-mirrorlist/.SRCINFO
  endeavouros-mirrorlist/PKGBUILD
  endeavouros-mirrorlist/endeavouros-mirrorlist
  firefox/.SRCINFO
  firefox/PKGBUILD
  obs-studio/.SRCINFO
  obs-studio/PKGBUILD
  qpdf/.SRCINFO
  qpdf/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Update PKGBUILD
  legcord/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Delete legcord/PKGBUILD-git
  legcord/PKGBUILD-git
Due: none

Delete .opencode/skills/repo-janitor directory
  .opencode/skills/repo-janitor/SKILL.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update umu-launcher to 1.4.4 and consume stale update triggers
  .github/nvchecker/old_ver.json
  umu-launcher/.SRCINFO
  umu-launcher/574.patch
  umu-launcher/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Complete Fix-packages TODO items
  .gitattributes
  .github/nvchecker/old_ver.json
  .github/workflows/check-updates.yml
  AGENTS.md
  PLAN.md
  TODO.md
  mise.toml
  nvchecker.toml
  packages.json
  steelseriesgg-rs/PKGBUILD
  steelseriesgg-rs/ssgg.install
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig, markdownlint

Add steelseriesgg-rs package and expand package catalog (#291)
  .gitattributes
  .github/nvchecker/old_ver.json
  .github/workflows/check-updates.yml
  AGENTS.md
  PLAN.md
  TODO.md
  mise.toml
  nvchecker.toml
  packages.json
  steelseriesgg-rs/PKGBUILD
  steelseriesgg-rs/ssgg.install
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig, markdownlint

Delete .mise directory
  .mise/tasks/aur-push
  .mise/tasks/export-patches
  .mise/tasks/gather-context
  .mise/tasks/setup-workspace
  .mise/tasks/sync-upstream
Due: none

Delete .kilo directory
  .kilo/kilo.jsonc
Due: none

fix workflow
  .codegraph/.gitignore
  .github/workflows/_run-agent.yml
  .omc/project-memory.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
  .omc/state/session-end-jobs/0d52ee8c-e036-4fab-be02-04e5d8e3bc81.json
  .omc/state/session-end-jobs/9931d5a2-0f0e-413f-81ea-ecacacc9bed1.json
  .omc/state/session-end-jobs/discovery.json
  .omc/state/sessions/6ad58582-5ebe-4f6d-a4ba-2bfab8e4414d/hud-state.json
  .omc/state/sessions/9931d5a2-0f0e-413f-81ea-ecacacc9bed1/hud-state.json
  .omc/state/sessions/9931d5a2-0f0e-413f-81ea-ecacacc9bed1/pre-tool-advisory-throttle.json
  .omc/state/sessions/9931d5a2-0f0e-413f-81ea-ecacacc9bed1/session-started.json
  .omc/state/sessions/ee96bfba-27a1-4abc-a0c9-a021cbddca61/hud-state.json
  .omc/state/sessions/ee96bfba-27a1-4abc-a0c9-a021cbddca61/last-tool-error-state.json
  .omc/state/sessions/ee96bfba-27a1-4abc-a0c9-a021cbddca61/pre-tool-advisory-throttle.json
  .serena/.gitignore
  .serena/project.yml
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig
