Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md

🧪 Add unit tests for chromium profiler script
  chromium/tests/test_profiler.py
Due: none

java/java-openjdk: Remove obsolete -fexceptions workaround
  java/java-openjdk/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

🔒 Security fix: Replace unsafe bash sourcing with regex parser
  vp-dev.py
Due: none

Update check-updates.yml
  .github/workflows/check-updates.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update build-container.yml
  .github/workflows/build-container.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

java/java-openjdk: remove obsolete -fexceptions workaround
  java/java-openjdk/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

🧪 Add unit tests for vp-dev.py
  tests/test_vp_dev.py
Due: none

🧪 Add tests for vp-dev.py _parse_pkg method
  tests/test_vp_dev.py
Due: none

🧪 Add tests for _parse_srcinfo in vp-dev.py
  pr_description.md
  tests/test_vp_dev.py
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

🧪 Add tests for vp-dev _parse_srcinfo
  tests/test_vp_dev.py
Due: none

🧹 Code Health: Extract duplicate dictionary-access methods to mixin
  tools/find_updates.py
Due: none

⚡ Optimize vp-dev.py clean() method
  vp-dev.py
Due: none

🧪 [testing] add unit tests for vp-dev _parse_srcinfo
  tests/test_vp_dev.py
Due: none

java21-openjdk: package jtreg for check() function
  java/java21-openjdk/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Fix bash variable chaining for fno-plt and fexceptions in java-openjdk PKGBUILD
  java/java-openjdk/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Fix bash variable chaining for fno-plt and fexceptions in java-openjdk PKGBUILD (#232)
  java/java-openjdk/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

java21-openjdk: package jtreg for check() function (#231)
  java/java21-openjdk/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

⚡ Optimize vp-dev.py clean() method (#229)
  vp-dev.py
Due: none

🧪 Add unit tests for vp-dev.py (#224)
  tests/test_vp_dev.py
Due: none

🧹 Code Health: Extract duplicate dictionary-access methods to mixin (#228)
  tools/find_updates.py
Due: none

Update PKGBUILD versions: watchman, code, dxvk-gplasync, gemini-cli, firefox, proton-cachyos-slr, endeavour-mirrorlist
  .github/nvchecker/new_ver.json
  .github/nvchecker/old_ver.json
  code/PKGBUILD
  dxvk/dxvk-gplasync/PKGBUILD
  endeavouros-mirrorlist/PKGBUILD
  firefox/PKGBUILD
  gemini-cli/PKGBUILD
  proton-cachyos-slr/PKGBUILD
  watchman/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

docs: add PLAN.md synthesizing all code markers and TODO.md items
  PLAN.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

docs: compact PLAN.md from 1064 to 340 lines (~68% reduction)
  PLAN.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update PLAN.md
  PLAN.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Potential fix for pull request finding
  PLAN.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig
