Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md

Create Avoid-winemenubuilder-to-startup-explorer.exe.patch
  wine-cachyos/patches/Avoid-winemenubuilder-to-startup-explorer.exe.patch
Due: none

Create Add-workarounds-for-game-launchers.patch
  wine-cachyos/patches/Add-workarounds-for-game-launchers.patch
Due: none

Create 0005-wineboot-Load-root-certificates-on-prefix-update.patch
  wine-cachyos/patches/0005-wineboot-Load-root-certificates-on-prefix-update.patch
Due: none

Create 0004-wineboot-Generate-better-DigitalProductId.patch
  wine-cachyos/patches/0004-wineboot-Generate-better-DigitalProductId.patch
Due: none

Create 0003-wineboot-On-prefix-upgrade-update-win10-build-number.patch
  wine-cachyos/patches/0003-wineboot-On-prefix-upgrade-update-win10-build-number.patch
Due: none

Create 0002-wine.inf-Set-a-valid-Win10-ProductId.patch
  wine-cachyos/patches/0002-wine.inf-Set-a-valid-Win10-ProductId.patch
Due: none

Create 0001-HACK-ws2_32-Block-first-internet-connection-for-some.patch
  wine-cachyos/patches/0001-HACK-ws2_32-Block-first-internet-connection-for-some.patch
Due: none

Create 0001-HACK-wine.inf-Add-native-builtin-overrides-for-msvcr.patch
  wine-cachyos/patches/0001-HACK-wine.inf-Add-native-builtin-overrides-for-msvcr.patch
Due: none

Create explorer-prefer-wayland-over-x11-by-default.patch
  wine-cachyos/patches/explorer-prefer-wayland-over-x11-by-default.patch
Due: none

Create kernelbase-Fix-uninitialized-structs-in-OpenThread.patch
  wine-cachyos/patches/kernelbase-Fix-uninitialized-structs-in-OpenThread.patch
Due: none

Create ntdll-loader-add-support-for-overriding-IMAGE_FILE_L.patch
  wine-cachyos/patches/ntdll-loader-add-support-for-overriding-IMAGE_FILE_L.patch
Due: none

Create winecfg-Add-tweaks-tab-page.patch
  wine-cachyos/patches/winecfg-Add-tweaks-tab-page.patch
Due: none

Create winex11.drv-Recognize-the-keyboard-in-a-locale-indep.patch
  wine-cachyos/patches/winex11.drv-Recognize-the-keyboard-in-a-locale-indep.patch
Due: none

Update PKGBUILD
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Fix shell script error handling and bugs
  ccache-ext/update-ccache-links.sh
  ffmpeg/ffmpeg-mini.sh
  gdk-pixbuf2/gdk-pixbuf2-mini.sh
  glibc/glibc_eac.sh
  mangohud/mangohud-mini.sh
  rare/rare.sh
  varia/make-appimage.sh
  vscode/vscodium-patch.sh
  vscode/vscodium.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update ccache-ext/update-ccache-links.sh
  ccache-ext/update-ccache-links.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Fix shell script error handling and bugs (#110)
  ccache-ext/update-ccache-links.sh
  ffmpeg/ffmpeg-mini.sh
  gdk-pixbuf2/gdk-pixbuf2-mini.sh
  glibc/glibc_eac.sh
  mangohud/mangohud-mini.sh
  rare/rare.sh
  varia/make-appimage.sh
  vscode/vscodium-patch.sh
  vscode/vscodium.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Claude/integrate [wine osu patches](https://github.com/whrvt/wine-osu-patches) (#111)
  .gitmodules
  wine-cachyos/PKGBUILD
  wine-cachyos/apply-wine-osu-patches.sh
  wine-tkg-git/wine-tkg-userpatches/wine-osu-README.md
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, check-executables, editorconfig, markdownlint

Update mozconfig
  firefox/mozconfig
Due: none

Update PKGBUILD
  smartdns-rs/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  etchdns/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  oxicloud/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  nvidia_oc/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update etchdns.sh
  etchdns/etchdns.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Create preload.conf
  preload-ng/preload.conf
Due: none

Delete etchdns/etchdns.sh
  etchdns/etchdns.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Create etchdns.install
  etchdns/etchdns.install
Due: none

Update PKGBUILD
  preload-ng/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Delete preload-ng/preload.conf
  preload-ng/preload.conf
Due: none

Delete preload-ng/.SRCINFO
  preload-ng/.SRCINFO
Due: none
