Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

Potential fix for pull request finding
  PLAN.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Add comprehensive implementation plan for package optimization and CI (#234)
  PLAN.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update kilo.json
  .kilo/kilo.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Update mise.toml
  mise.toml
Due: end-of-file, editorconfig

Update and rename kilo.json to kilo.jsonc
  .kilo/kilo.jsonc
Due: none

Update PKGBUILDs: watchman, code, gemini-cli, proton-cachyos-slr
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
  watchman/.SRCINFO
  watchman/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

tools: remove colorama dependency and optimize find_updates.py
  tools/find_updates.py
Due: none

fix(security): eliminate arbitrary code execution in vp-dev.py
  vp-dev.py
Due: none

tools: remove colorama and fix CI infrastructure
  .github/actions/pkgbuild/entrypoint.sh
  .github/builder/Dockerfile
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/build-container.yml
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

🧪 [testing] add exception handling tests for _parse_srcinfo
  tests/test_vp_dev.py
Due: none

🧹 [Code Health] Move unused module-level pycman import to local scope
  tools/find_updates.py
Due: none

Fix MegaLinter, Checkov, and Kingfisher CI failures
  .github/actions/pkgbuild/Dockerfile
  .github/actions/pkgbuild/entrypoint.sh
  .github/builder/Dockerfile
  .github/workflows/_job_schedule_weekly.yml
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/aur-push.yml
  .github/workflows/build-container.yml
  .github/workflows/build.yml
  .github/workflows/check-updates.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
  .github/workflows/package-build.yml
  .github/workflows/update-packages.yml
  chromium/PKGBUILD
  firefox/PKGBUILD
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

Fix MegaLinter, Checkov, and Kingfisher CI failures
  .github/workflows/copilot-setup-steps.yml
  .mega-linter.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Merge 27 open PRs: security, perf, cleanup, and tests
  .github/actions/pkgbuild/Dockerfile
  .github/actions/pkgbuild/entrypoint.sh
  .github/builder/Dockerfile
  .github/workflows/_job_schedule_weekly.yml
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/aur-push.yml
  .github/workflows/build-container.yml
  .github/workflows/build.yml
  .github/workflows/check-updates.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
  .github/workflows/package-build.yml
  .github/workflows/update-packages.yml
  .mega-linter.yml
  chromium/tests/test_profiler.py
  ffmpeg/tests/test_update_scripts.py
  java/java-openjdk/PKGBUILD
  lib/helpers.sh
  pkg.sh
  tests/__init__.py
  tests/test_find_updates.py
  tests/test_vp_dev.py
  tests/test_vp_dev_utils.py
  tools/find_updates.py
  vp-dev.py
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

Merge 27 open PRs: security, perf, cleanup, and tests (#243)
  .github/actions/pkgbuild/Dockerfile
  .github/actions/pkgbuild/entrypoint.sh
  .github/builder/Dockerfile
  .github/workflows/_job_schedule_weekly.yml
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/aur-push.yml
  .github/workflows/build-container.yml
  .github/workflows/build.yml
  .github/workflows/check-updates.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
  .github/workflows/package-build.yml
  .github/workflows/update-packages.yml
  .mega-linter.yml
  chromium/tests/test_profiler.py
  ffmpeg/tests/test_update_scripts.py
  java/java-openjdk/PKGBUILD
  lib/helpers.sh
  pkg.sh
  tests/__init__.py
  tests/test_find_updates.py
  tests/test_vp_dev.py
  tests/test_vp_dev_utils.py
  tools/find_updates.py
  vp-dev.py
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

Fix log-file glob bug and strengthen clean() test assertions
  lib/helpers.sh
  tests/test_vp_dev.py
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Fix log-file glob and strengthen clean() test assertions (#244)
  lib/helpers.sh
  tests/test_vp_dev.py
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

ci: fix kilo PATH regression and upgrade update-pkgbuilds model
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: revert model to opencode/minimax-m2.5-free, drop KILO_ORG_ID
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: pin opencode binary to v1.14.51 to fix model auth regression
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: use OIDC token exchange for opencode/* model auth (v1.15.6+)
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Fix GitHub token usage and Kilo PATH setup in agent workflow (#245)
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: pin opencode action to github-v1.2.19
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: switch _update-pkgbuilds provider from opencode to claude
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

revert: restore opencode provider in _update-pkgbuilds
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: fix opencode token and switch to qwen3.6-plus:free model
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

fix(lint): guard empty pkgs/files arrays in matrix step
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: use opencode zen qwen3.6-plus-free model
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update OpenCode agent config and model selection (#246)
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: switch update-pkgbuilds model to opencode/minimax-2.5:free
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: switch update-pkgbuilds model to opencode/minimax-2.5:free (#247)
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: use valid OpenCode model id opencode/minimax-m2.5
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: fix broken Kilo version heredoc in run-agent workflow
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci(megalinter): silence pre-existing repo-scanner false positives
  .mega-linter.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update model references and simplify version extraction (#249)
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .mega-linter.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

chore(pkgbuilds): bulk update from nvchecker
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  onlyoffice/.SRCINFO
  onlyoffice/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

fix(dxvk-gplasync,firefox,mesa-git): unblock nvchecker updates
  dxvk/dxvk-gplasync/.SRCINFO
Due: none

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
