Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md

Update PKGBUILD
  legcord/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create PKGBUILD-git
  legcord/PKGBUILD-git
Due: none

Create legcord-launcher.sh
  legcord/legcord-launcher.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Create legcord.desktop
  legcord/legcord.desktop
Due: none

Create notes.install
  legcord/notes.install
Due: none

Update readme.md
  legcord/readme.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update legcord.desktop
  legcord/legcord.desktop
Due: none

Update legcord-launcher.sh
  legcord/legcord-launcher.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Create krisp-patcher.py
  legcord/krisp-patcher.py
Due: none

Delete legcord/krisp-patcher.py
  legcord/krisp-patcher.py
Due: none

Create patches.txt
  ffmpeg/patches.txt
Due: trailing-whitespace, end-of-file, editorconfig

Update ffmpeg-mini.sh
  ffmpeg/ffmpeg-mini.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

glibc: Implement glibc-eac-roco with EAC and Rogue Company patches
  glibc/.SRCINFO
  glibc/PKGBUILD
  glibc/glibc.install
  glibc/lib32-glibc.conf
  glibc/lib32-glibc.install
  glibc/locale-gen
  glibc/locale.gen.txt
  glibc/sdt-config.h
  glibc/sdt.h
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig

Update glibc/locale-gen
  glibc/locale-gen
Due: none

Update glibc/PKGBUILD
  glibc/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update glibc/.SRCINFO
  glibc/.SRCINFO
Due: none

glibc: Implement glibc-eac-roco with EAC and Rogue Company patches (#107)
  glibc/.SRCINFO
  glibc/PKGBUILD
  glibc/glibc.install
  glibc/lib32-glibc.conf
  glibc/lib32-glibc.install
  glibc/locale-gen
  glibc/locale.gen.txt
  glibc/sdt-config.h
  glibc/sdt.h
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig

Update PKGBUILD
  etchdns/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  gitoxide/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  smartdns-rs/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create update-alternatives.hook
  update-alternatives/update-alternatives.hook
Due: none

Update PKGBUILD
  update-alternatives/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  oxicloud/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  nvidia_oc/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create repo.yml
  .github/workflows/repo.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update PKGBUILD
  firefox/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update dxvk-extraopts.patch
  dxvk/dxvk-gplasync/dxvk-extraopts.patch
Due: none

Create Allow-build-with-AVX-when-using-Clang.patch
  dxvk/dxvk-gplasync/Allow-build-with-AVX-when-using-Clang.patch
Due: none

Create 5367.patch
  dxvk/dxvk-gplasync/5367.patch
Due: none

Update readme.md
  dxvk/dxvk-gplasync/readme.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update PKGBUILD
  glfw-wayland/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create Do-not-handle-IMAGE_FILE_LARGE_ADDRESS_AWARE-on-WoW64.patch
  wine-cachyos/patches/Do-not-handle-IMAGE_FILE_LARGE_ADDRESS_AWARE-on-WoW64.patch
Due: none

Create Configure-Enforce-4-byte-stack-alignment-on-clang-for-PE-builds.patch
  wine-cachyos/patches/Configure-Enforce-4-byte-stack-alignment-on-clang-for-PE-builds.patch
Due: none
