Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

fix(dxvk-gplasync,firefox,mesa-git): unblock nvchecker updates
  .github/nvchecker/old_ver.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

fix(dxvk-gplasync,mesa-git): valid pkgver + working nvchecker sources
  dxvk/dxvk-gplasync/PKGBUILD
  firefox/.SRCINFO
  nvchecker.toml
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, end-of-file, editorconfig

fix(firefox): bump to 151.0.2 and apply local patches from $startdir
  firefox/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

chore: track llvm 22.1.7; strengthen _update-pkgbuilds agent prompt
  .github/nvchecker/old_ver.json
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

Update Firefox to 151.0.2 and refactor patch handling (#251)
  .github/nvchecker/old_ver.json
  .github/workflows/_update-pkgbuilds.yml
  dxvk/dxvk-gplasync/.SRCINFO
  dxvk/dxvk-gplasync/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  nvchecker.toml
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

chore(pkgbuilds): update 5 packages from nvchecker
  .github/nvchecker/old_ver.json
  chromium/.SRCINFO
  chromium/PKGBUILD
  code/.SRCINFO
  code/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  watchman/.SRCINFO
  watchman/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Delete watchman directory
  watchman/.SRCINFO
  watchman/PKGBUILD
  watchman/fix-link-pathutils.patch
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: add OpenCode fallback model for resilience
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: add minimal pre-commit config for pre-commit.ci
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Add fallback model support to OpenCode agent workflow (#254)
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

ci: fix invalid OpenCode model in pkgbuild update workflow
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update PKGBUILD workflow to use nemotron-3-ultra model (#255)
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update packages: code 1.123.0, gemini-cli 0.45.2, handbrake 1.11.2, add mesa-git 26.1-branchpoint
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  handbrake/.SRCINFO
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Consolidate root/lib/tools scripts into tools/ and clean up slop
  .github/copilot-instructions.md
  .github/instructions/pkgbuild.instructions.md
  .github/instructions/shell.instructions.md
  .github/skills/update-pkgbuild/SKILL.md
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/update-packages.yml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  dxvk/readme.md
  tests/test_vp_dev.py
  tests/test_vp_dev_utils.py
  tools/check-isa-level.sh
  tools/find_updates.py
  tools/generate-schedule.py
  tools/generate-workflow.py
  tools/lib/helpers.sh
  tools/pkg.sh
  tools/vp-dev.py
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig, markdownlint

Harden tool refactor per review feedback
  Makefile
  tools/find_updates.py
  tools/lib/helpers.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Reorganize tools into tools/ directory and refactor AUR models (#257)
  .github/copilot-instructions.md
  .github/instructions/pkgbuild.instructions.md
  .github/instructions/shell.instructions.md
  .github/skills/update-pkgbuild/SKILL.md
  .github/workflows/_update-pkgbuilds.yml
  .github/workflows/update-packages.yml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  dxvk/readme.md
  tests/test_vp_dev.py
  tests/test_vp_dev_utils.py
  tools/check-isa-level.sh
  tools/find_updates.py
  tools/generate-schedule.py
  tools/generate-workflow.py
  tools/lib/helpers.sh
  tools/pkg.sh
  tools/vp-dev.py
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig, markdownlint

Fix opencode agent runs failing on disabled paid models
  .github/workflows/_run-agent.yml
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

Update default model to minimax-m2.5-free and add small_model config (#258)
  .github/workflows/_run-agent.yml
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

Update opencode.json
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Fix opencode agent run: valid Zen model ids and working fallback
  .github/builder/opencode-config.json
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

Use deepseek-v4-flash-free as small_model
  .github/builder/opencode-config.json
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Switch OpenCode models to nemotron-3-ultra and improve fallback handling (#259)
  .github/builder/opencode-config.json
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

Update packages to latest upstream versions
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
  uutils/findutils/.SRCINFO
  uutils/findutils/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Update packages: firefox 151.0.4→152.0, llvm 22.1.7→22.1.8 (tracking), watchman 2026.06.01.00→2026.06.15.00 (tracking)
  .github/nvchecker/old_ver.json
  firefox/.SRCINFO
  firefox/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

refactor(vp-dev): replace generic Exception with specific ones
  vp-dev.py
Due: none

🧹 Refactor discord/krisp-patcher.py to encapsulate logic into functions
  discord/krisp-patcher.py
Due: none

🧪 Added tests for updpkgsums in vp-dev
  tests/test_vp_dev.py
Due: none

🧹 [code health] Remove unused mock_open import from test_vp_dev.py
  tests/test_vp_dev.py
Due: none

Update vp-dev.py
  vp-dev.py
Due: none

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
