Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

Create preload-ng.install
  preload-ng/preload-ng.install
Due: none

Delete smartdns-rs/.SRCINFO
  smartdns-rs/.SRCINFO
Due: none

Delete update-alternatives/.SRCINFO
  update-alternatives/.SRCINFO
Due: none

Update PKGBUILD
  oxicloud/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update PKGBUILD
  smartdns-rs/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create smartdns-rs.install
  smartdns-rs/smartdns-rs.install
Due: none

Update PKGBUILD
  update-alternatives/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Delete update-alternatives/update-alternatives.hook
  update-alternatives/update-alternatives.hook
Due: none

Create vscodium-all-marketplace.hook
  vscode/vscodium-all-marketplace.hook
Due: none

Create patch.py
  vscode/patch.py
Due: none

Update build.yml
  .github/workflows/build.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update _job_pkgbuild.yml
  .github/workflows/_job_pkgbuild.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update repo.yml
  .github/workflows/repo.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Create PKGBUILD
  uutils-coreutils/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Rename uutils-coreutils/PKGBUILD to uutils/coreutils/PKGBUILD
  uutils/coreutils/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create PKGBUILD
  uutils/coreutils/tar/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create PKGBUILD
  uutils/coreutils/findutils/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create diffutils
  uutils/coreutils/diffutils
Due: none

Rename diffutils to PKGBUILD
  uutils/diffutils/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Rename uutils/coreutils/findutils/PKGBUILD to uutils/findutils/PKGBUILD
  uutils/findutils/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Rename uutils/coreutils/tar/PKGBUILD to uutils/tar/PKGBUILD
  uutils/tar/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create PKGBUILD
  uutils/procps/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

agents
  AGENTS.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update TODO.md
  TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update patches.txt
  ffmpeg/patches.txt
Due: trailing-whitespace, end-of-file, editorconfig

Create TODO.md
  ffmpeg/TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Create TODO.md
  dxvk/TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Create todo.md
  proton-cachyos/todo.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Create todo.md
  wine-cachyos/todo.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Create todo.md
  heroic-games-launcher/todo.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update TODO.md
  dxvk/TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Add comprehensive dependency audit reports
  DEPENDENCY_AUDIT_REPORT.md
  DEPENDENCY_BLOAT_ANALYSIS.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Implement critical dependency audit fixes and optimizations
  DEPENDENCY_POLICY.md
  glibc/readme.md
  localepurge/.SRCINFO
  localepurge/PKGBUILD
  proton-cachyos/PKGBUILD
  wine-cachyos/PKGBUILD
  wine-tkg-git/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig, markdownlint

Update wine-tkg-git/PKGBUILD
  wine-tkg-git/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update glibc/readme.md
  glibc/readme.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
