Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

Update .github/scripts/try-update.sh
  .github/scripts/try-update.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update .github/workflows/check-updates.yml
  .github/workflows/check-updates.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update .mise/tasks/sync-upstream
  .mise/tasks/sync-upstream
Due: none

Update .github/builder/Dockerfile
  .github/builder/Dockerfile
Due: none

Use direct Kilo GitHub Action in update workflow (#148)
  .github/builder/opencode-config.json
  .github/workflows/check-updates.yml
  .opencode/opencode.json
  AGENTS.md
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig, markdownlint

Session/agent 0a4cf66f bb8e 434c 858e 1acb7ef65b88 (#147)
  .github/builder/Dockerfile
  .github/builder/entrypoint.sh
  .github/builder/opencode-config.json
  .github/nvchecker/.gitkeep
  .github/nvchecker/old_ver.json
  .github/scripts/create-pr.sh
  .github/scripts/fetch-changelog.sh
  .github/scripts/try-update.sh
  .github/workflows/aur-push.yml
  .github/workflows/build-container.yml
  .github/workflows/check-updates.yml
  .mise/tasks/aur-push
  .mise/tasks/export-patches
  .mise/tasks/gather-context
  .mise/tasks/setup-workspace
  .mise/tasks/sync-upstream
  .opencode/opencode.json
  AGENTS.md
  mise.toml
  nvchecker.toml
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

🧹 [code health] Remove unused Style import from colorama in find_updates.py
  find_updates.py
Due: none

Hi there! I'm Jules, and I've successfully parallelized the package checking in `vp-dev.py` for you.
  Makefile
  vp-dev.py
Due: none

⚡ perf: optimize list command with concurrent processing
  vp-dev.py
Due: none

fix(code): Remove deprecated-sync-clipboard-read permission from core permissions
  code/microphone.patch
Due: none

Update find_updates.py
  find_updates.py
Due: none

🧹 [code health] Remove unused Style import from colorama in find_updates.py (#149)
  find_updates.py
Due: none

Update Makefile
  Makefile
Due: none

⚡ Optimize check loop by processing packages in parallel (#150)
  Makefile
  vp-dev.py
Due: none

Update vp-dev.py
  vp-dev.py
Due: none

⚡ perf: optimize list command with concurrent processing (#151)
  vp-dev.py
Due: none

fix(code): Remove deprecated-sync-clipboard-read permission from core permissions (#152)
  code/microphone.patch
Due: none

Delete .github/workflows/proton-cachyos.yml
  .github/workflows/proton-cachyos.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/ccache-ext.yml
  .github/workflows/ccache-ext.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/_job_schedule_biweekly.yml
  .github/workflows/_job_schedule_biweekly.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

conf: update pacman.conf and makepkg.conf from dotfiles
  .github/conf/public/makepkg.conf
  .github/conf/public/pacman.conf
Due: none

conf: move RUSTFLAGS to rust.conf, drop optipng/svgo
  .github/conf/public/makepkg.conf
  .github/conf/public/makepkg.conf.d/rust.conf
Due: none

Optimize build configuration for performance and x86-64-v3 (#153)
  .github/conf/public/makepkg.conf
  .github/conf/public/makepkg.conf.d/rust.conf
  .github/conf/public/pacman.conf
Due: none

docs: rewrite AGENTS.md and copilot-instructions.md
  .github/copilot-instructions.md
  AGENTS.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

docs: rewrite AGENTS.md and copilot-instructions.md (#154)
  .github/copilot-instructions.md
  AGENTS.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-automerge.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/jules-performance-improver.yml
  .github/workflows/jules-performance-improver.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/repo.yml
  .github/workflows/repo.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

chore: remove unused import Style from find_updates.py
  find_updates.py
Due: none

glfw-wayland: fix duplicate pointer scroll events in GNOME
  glfw-wayland/.SRCINFO
  glfw-wayland/PKGBUILD
  glfw-wayland/patches/0002-Fix-duplicate-pointer-scroll-events.patch
  glfw-wayland/patches/0003-Implement-glfwSetCursorPosWayland.patch
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

perf(vp-dev): remove redundant file cache population
  vp-dev.py
Due: none

perf: move shlex import to module level in vp-dev.py
  vp-dev.py
Due: none

glfw-wayland: fix duplicate pointer scroll events in GNOME (#156)
  glfw-wayland/.SRCINFO
  glfw-wayland/PKGBUILD
  glfw-wayland/patches/0002-Fix-duplicate-pointer-scroll-events.patch
  glfw-wayland/patches/0003-Implement-glfwSetCursorPosWayland.patch
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

test: add unit tests for VpDev._parse_srcinfo in vp-dev.py
  tests/test_vp_dev.py
Due: none

perf(vp-dev): remove redundant file cache population (#157)
  vp-dev.py
Due: none

chore: remove unused import Style from find_updates.py (#155)
  find_updates.py
Due: none

test: add unit tests for VpDev._parse_srcinfo in vp-dev.py (#159)
  tests/test_vp_dev.py
Due: none

fix: Remove unused imports and fix syntax in python scripts
  .github/workflows/_job_schedule_weekly.yml
  tools/generate-schedule/generate-schedule.py
  vp-dev.py
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
