Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

chore: update PKGBUILDs: Updated chromium:145.0.7632.119->145.0.7632.120; code:1.99.0->1.99.1; zlib-ng:2.1.8->2.1.9; Skipped aria2:up-to-date; qpdf:up-to-date
  chromium/.SRCINFO
  chromium/PKGBUILD
  code/.SRCINFO
  code/PKGBUILD
  frogminer
  zlib-ng/.SRCINFO
  zlib-ng/zlib-ng/.SRCINFO
  zlib-ng/zlib-ng/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Create SKILL.md
  .github/skills/repo-janitor/SKILL.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Consolidate repository TODOs into a single root roadmap (#192)
  .github/PACKAGE_README_TEMPLATE.md
  .github/SECURITY.md
  .github/actions/pkgbuild/README.md
  CONTRIBUTING.md
  DEPENDENCY_POLICY.md
  README.md
  TODO.md
  autofdo.sh
  cachyos-benchmarker.sh
  dxvk/TODO.md
  dxvk/dxvk-gplasync/readme.md
  dxvk/readme.md
  ffmpeg/TODO.md
  ffmpeg/readme.md
  firefox/TODO.md
  firefox/readme.md
  frogminer
  gdk-pixbuf2/gdk-pixbuf2-mini.sh
  glibc/readme.md
  handbrake/README.md
  heroic-games-launcher/todo.md
  launch_context_win.cc
  legcord/readme.md
  llvm/readme.md
  mangohud/mangohud-mini.sh
  mesa-git/readme.md
  smartdns-rs/readme.md
  tools/check-isa-level.sh
  tools/find_updates.py
  wine-cachyos/README.md
  wine-cachyos/todo.md
  wine-tkg-git/README.md
  wine-tkg-git/wine-tkg-userpatches/README.md
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig, markdownlint

Delete vp
  vp
Due: none

Create SKILL.md
  .github/skills/copilot-init/SKILL.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update opencode.json
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

copilot-init: bootstrap setup-steps, instructions, and skills; switch to Bun + Node 24, uv, and oxlint (#195)
  .github/instructions/pkgbuild.instructions.md
  .github/instructions/shell.instructions.md
  .github/skills/update-pkgbuild/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig, markdownlint

Update mise.toml
  mise.toml
Due: end-of-file, editorconfig

Update _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Harden agent-driven PKGBUILD updates and add version tracking for key packages (#196)
  .github/nvchecker/old_ver.json
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  nvchecker.toml
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

Update PKGBUILDs to new versions
  .github/nvchecker/old_ver.json
  aria2/PKGBUILD
  borked3DS/PKGBUILD
  chromium/PKGBUILD
  code/PKGBUILD
  dxvk/dxvk-gplasync/PKGBUILD
  egl-wayland2/PKGBUILD
  ffmpeg/PKGBUILD
  filen-desktop/PKGBUILD
  gemini-cli/PKGBUILD
  ghostty/PKGBUILD
  glibc/PKGBUILD
  heroic-games-launcher/PKGBUILD
  prismlauncher/PKGBUILD
  proton-cachyos-slr/PKGBUILD
  rare/PKGBUILD
  svt-av1/PKGBUILD
  uutils/coreutils/PKGBUILD
  uutils/procps/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

ci: remove Jules, speed up OpenCode with grok-code-fast-1 via kilo gateway (#198)
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

Update _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Create .ignore
  .ignore
Due: none

watchman: update to 2026.04.13.00
  .github/nvchecker/old_ver.json
  watchman/.SRCINFO
  watchman/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

PKGBUILD updates: proton-cachyos-slr, etchdns, legcord, gemini-cli
  etchdns/.SRCINFO
  legcord/.SRCINFO
  proton-cachyos-slr/.SRCINFO
Due: none

PKGBUILD updates: watchman, etchdns, legcord, code, obs-studio, gemini-cli, heroic-games-launcher, proton-cachyos-slr, firefox
  .github/nvchecker/new_ver.json
  .github/nvchecker/old_ver.json
  code/.SRCINFO
  code/PKGBUILD
  etchdns/.SRCINFO
  etchdns/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  heroic-games-launcher/.SRCINFO
  heroic-games-launcher/PKGBUILD
  legcord/.SRCINFO
  legcord/PKGBUILD
  obs-studio/.SRCINFO
  obs-studio/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
  watchman/.SRCINFO
  watchman/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Refresh Copilot guidance, bootstrap workflow, and repo-specific instruction assets (#202)
  .github/copilot-instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/pkgbuild.instructions.md
  .github/instructions/shell.instructions.md
  .github/skills/copilot-init/SKILL.md
  .github/skills/update-pkgbuild/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .opencode/instructions.md
  .opencode/opencode.json
  AGENTS.md
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig, markdownlint

Update gemini-cli: 0.39.0 → 0.39.1
  .github/nvchecker/old_ver.json
  gemini-cli/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, editorconfig

tests: add unit tests for vp-dev.py output utilities
  tests/__init__.py
  tests/test_vp_dev_utils.py
Due: none

🧹 Remove unused additional_keys from find_updates.py
  find_updates.py
Due: none

ffmpeg: fix command argument injection in svt-av1-essential util
  ffmpeg/tests/test_update_scripts.py
Due: none

find_updates.py: Optimize database filtering
  find_updates.py
Due: none

perf: optimize package directory listing in vp-dev.py
  vp-dev.py
Due: none

find_updates: add timeout to AUR API requests
  find_updates.py
Due: none

⚡ Optimize .SRCINFO parsing loop
  vp-dev.py
Due: none

⚡ perf: move shlex import to module level in vp-dev.py
  vp-dev.py
Due: none

⚡ perf: optimize database filtering in find_updates.py
  tools/find_updates.py
Due: none

🧹 Abstract duplicate parallel loop logic
  lib/helpers.sh
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Create kilo.json
  .kilo/kilo.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

🧪 Add tests for PackageBasic.from_dict in find_updates.py
  tests/__init__.py
  tests/test_find_updates.py
Due: none

🧪 Add tests for find_updates.py PackageBasic.to_dict()
  tests/test_find_updates.py
Due: none

🔒 Fix arbitrary code execution vulnerability in workflow
  .github/workflows/build.yml
  pr_description.md
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
