Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

Update renovate.json
  .github/renovate.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

docs(firefox): resolve geckoview-lite TODO in mozconfig
  firefox/mozconfig
Due: none

ci: fix and optimize github action workflows
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  .github/workflows/jules-cleanup.yml
  .github/workflows/jules-performance-improver.yml
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

feat: implement Open Source VS Code (code) build
  code/.SRCINFO
  code/0009-openvsx-extension-signature.patch
  code/PKGBUILD
  code/clipath.patch
  code/code.mjs
  code/code.sh
  code/extension-management.patch
  code/microphone.patch
  code/product_json.diff
  code/translucent.patch
  code/xterm.patch
  packages.json
  vscode/PKGBUILD
  vscode/patch.py
  vscode/patches/README.md
  vscode/patches/vscodium-electron.patch
  vscode/vscodium-all-marketplace.hook
  vscode/vscodium-patch.sh
  vscode/vscodium-uri-handler.desktop
  vscode/vscodium.desktop
  vscode/vscodium.js
  vscode/vscodium.sh
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, check-executables, editorconfig, markdownlint

Resolve geckoview-lite TODO in Firefox mozconfig (#142)
  firefox/mozconfig
Due: none

Fix and optimize GitHub Action workflows (#143)
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  .github/workflows/jules-cleanup.yml
  .github/workflows/jules-performance-improver.yml
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Potential fix for pull request finding
  code/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Potential fix for pull request finding
  code/.SRCINFO
Due: none

Update tools/generate-schedule/generate-schedule.py
  tools/generate-schedule/generate-schedule.py
Due: none

Potential fix for pull request finding
  code/clipath.patch
Due: none

Update tools/generate-workflow/generate-workflow.py
  tools/generate-workflow/generate-workflow.py
Due: none

Potential fix for pull request finding
  code/code.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Potential fix for pull request finding
  .github/workflows/_job_schedule_biweekly.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Potential fix for pull request finding
  .github/workflows/_job_schedule_weekly.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Implement Open Source VS Code (code) build (#144)
  code/.SRCINFO
  code/0009-openvsx-extension-signature.patch
  code/PKGBUILD
  code/clipath.patch
  code/code.mjs
  code/code.sh
  code/extension-management.patch
  code/microphone.patch
  code/product_json.diff
  code/translucent.patch
  code/xterm.patch
  packages.json
  vscode/PKGBUILD
  vscode/patch.py
  vscode/patches/README.md
  vscode/patches/vscodium-electron.patch
  vscode/vscodium-all-marketplace.hook
  vscode/vscodium-patch.sh
  vscode/vscodium-uri-handler.desktop
  vscode/vscodium.desktop
  vscode/vscodium.js
  vscode/vscodium.sh
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, json-lint, check-executables, editorconfig, markdownlint

Delete llms.txt
  llms.txt
Due: trailing-whitespace, end-of-file, editorconfig

Create TODO.md
  firefox/TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

feat: implement build safety and Android PIC support
  .github/actions/pkgbuild/entrypoint.sh
  .github/conf/public/makepkg.conf
  .github/workflows/build.yml
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

Update .github/actions/pkgbuild/entrypoint.sh
  .github/actions/pkgbuild/entrypoint.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update .github/conf/public/makepkg.conf
  .github/conf/public/makepkg.conf
Due: none

Update pkg.sh
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Implement build safety and Android PIC support (#146)
  .github/actions/pkgbuild/entrypoint.sh
  .github/conf/public/makepkg.conf
  .github/workflows/build.yml
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

Update .github/builder/entrypoint.sh
  .github/builder/entrypoint.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update mise.toml
  mise.toml
Due: end-of-file, editorconfig

Update .github/scripts/create-pr.sh
  .github/scripts/create-pr.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update .github/workflows/check-updates.yml
  .github/workflows/check-updates.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update .github/scripts/fetch-changelog.sh
  .github/scripts/fetch-changelog.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update .github/builder/Dockerfile
  .github/builder/Dockerfile
Due: none

Update .mise/tasks/sync-upstream
  .mise/tasks/sync-upstream
Due: none

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
