Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

fix workflow
  .codegraph/.gitignore
  .gitignore
  .omc/project-memory.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
  .omc/state/session-end-jobs/0d52ee8c-e036-4fab-be02-04e5d8e3bc81.json
  .omc/state/session-end-jobs/9931d5a2-0f0e-413f-81ea-ecacacc9bed1.json
  .omc/state/session-end-jobs/discovery.json
  .omc/state/sessions/6ad58582-5ebe-4f6d-a4ba-2bfab8e4414d/hud-state.json
  .omc/state/sessions/9931d5a2-0f0e-413f-81ea-ecacacc9bed1/hud-state.json
  .omc/state/sessions/9931d5a2-0f0e-413f-81ea-ecacacc9bed1/pre-tool-advisory-throttle.json
  .omc/state/sessions/9931d5a2-0f0e-413f-81ea-ecacacc9bed1/session-started.json
  .omc/state/sessions/ee96bfba-27a1-4abc-a0c9-a021cbddca61/hud-state.json
  .omc/state/sessions/ee96bfba-27a1-4abc-a0c9-a021cbddca61/last-tool-error-state.json
  .omc/state/sessions/ee96bfba-27a1-4abc-a0c9-a021cbddca61/pre-tool-advisory-throttle.json
  .serena/.gitignore
  .serena/project.yml
Due: trailing-whitespace, end-of-file, yaml-lint, json-lint, editorconfig

fix(ci): publish agent changes when opencode skips the PR
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

fix(ci): publish agent changes when opencode skips the PR (#294)
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Garbled content
  code/.SRCINFO
  code/PKGBUILD
  endeavouros-mirrorlist/.SRCINFO
  endeavouros-mirrorlist/PKGBUILD
  etchdns/.SRCINFO
  etchdns/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  glfw-wayland/.SRCINFO
  glfw-wayland/PKGBUILD
  prismlauncher/.SRCINFO
  prismlauncher/PKGBUILD
  qpdf/.SRCINFO
  qpdf/PKGBUILD
  steelseriesgg-rs/.SRCINFO
  steelseriesgg-rs/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

fix(ci): drop opencode's revoked auth header before pushing
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
