Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md

fix: Remove unused imports and fix syntax in python scripts (#160)
  .github/workflows/_job_schedule_weekly.yml
  tools/generate-schedule/generate-schedule.py
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

🧹 Replace deprecated NoneType with type(None) in find_updates.py
  find_updates.py
Due: none

perf: prevent redundant arch db lookups in find_updates.py
  find_updates.py
Due: none

⚡ Optimize repository membership checks
  find_updates.py
Due: none

⚡ Remove redundant cache population in vp-dev.py
  vp-dev.py
Due: none

Create _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

chore(code): Remove deprecated-sync-clipboard-read permission
  code/PKGBUILD
  code/microphone.patch
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Remove deprecated NPN support from curl wrapper
  curl/patches/curl.patch
Due: none

Update _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Create _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

🧹 Replace deprecated NoneType with type(None) in find_updates.py (#161)
  find_updates.py
Due: none

perf: prevent redundant arch db lookups in find_updates.py (#162)
  find_updates.py
Due: none

⚡ Optimize repository membership checks (#163)
  find_updates.py
Due: none

chore(code): Remove deprecated-sync-clipboard-read permission (#165)
  code/PKGBUILD
  code/microphone.patch
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Remove deprecated NPN support from curl wrapper (#166)
  curl/patches/curl.patch
Due: none

fix: replace broken Kilo composite action refs with CLI invocations
  .github/workflows/_run-agent.yml
  .github/workflows/check-updates.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

fix: replace broken Kilo composite action refs with CLI invocations (#167)
  .github/workflows/_run-agent.yml
  .github/workflows/check-updates.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Fix GITHUB_TOKEN handling in reusable agent workflows (#168)
  .github/workflows/_run-agent.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update opencode.json
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Create .hadolint.yaml
  .hadolint.yaml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Harden reusable agent commits and trim OpenCode CI overhead (#169)
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete ccache-ext directory
  ccache-ext/.gitignore
  ccache-ext/PKGBUILD
  ccache-ext/ccache-ext.install
  ccache-ext/update-ccache-links.hook
  ccache-ext/update-ccache-links.sh
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, check-executables, editorconfig

Delete curl directory
  curl/.SRCINFO
  curl/PKGBUILD
  curl/build.sh
  curl/patches/boringssl.patch
  curl/patches/curl.patch
  curl/readme.md
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, check-executables, editorconfig, markdownlint

Delete copyparty directory
  copyparty/.SRCINFO
  copyparty/LICENSE
  copyparty/PKGBUILD
  copyparty/setup-copyparty.sh
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, check-executables, editorconfig

chore: update PKGBUILDs to latest upstream versions
  code/.SRCINFO
  code/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

curl: Remove deprecated HTTP/2 priority frames
  curl/patches/curl.patch
Due: none

Delete 7zip directory
  7zip/PKGBUILD
  7zip/natspec.patch
  7zip/readme.md
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete oxicloud directory
  oxicloud/PKGBUILD
  oxicloud/readme.md
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete linux-kernel-catgirl directory
  linux-kernel-catgirl/.SRCINFO
  linux-kernel-catgirl/PKGBUILD
  linux-kernel-catgirl/config-chimera
  linux-kernel-catgirl/readme.md
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig, markdownlint
