Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

Delete qwen-code directory
  qwen-code/PKGBUILD
  qwen-code/PKGBUILD-gemini
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Delete tests directory
  tests/test_vp_dev.py
Due: none

Delete native_process_launcher_win.cc
  native_process_launcher_win.cc
Due: none

Delete varia directory
  varia/make-appimage.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Delete proton-cachyos directory
  proton-cachyos/.gitignore
  proton-cachyos/PKGBUILD
  proton-cachyos/compatibilitytool.vdf.template
  proton-cachyos/proton-cachyos.install
  proton-cachyos/todo.md
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete gamescope directory
  gamescope/PKGBUILD
  gamescope/patches/.nvchecker.toml
  gamescope/patches/gamescope-vk-1_2-comp-target.patch
  gamescope/patches/gamescope-xrgb-overlay-formats.patch
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, end-of-file, editorconfig

Delete gitoxide directory
  gitoxide/PKGBUILD
  gitoxide/optimize.patch
  gitoxide/readme.md
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig, markdownlint

Update _run-agent.yml
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Removed 8 obsolete workflows
  .github/workflows/7zip.yml
  .github/workflows/copyparty.yml
  .github/workflows/curl.yml
  .github/workflows/gamescope.yml
  .github/workflows/gitoxide.yml
  .github/workflows/oxicloud.yml
  .github/workflows/qwen-code.yml
  .github/workflows/vscode.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update _update-pkgbuilds.yml
  .github/workflows/_update-pkgbuilds.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Create .gitignore
  .opencode/.gitignore
Due: none

Cache Kilo CLI in reusable agent workflow (#173)
  .github/workflows/_run-agent.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Rename .github/renovate.json to renovate.json
  renovate.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Update opencode.json
  .opencode/opencode.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Add files via upload
  .opencode/plugins/trim-tool-name.js
Due: none

chore: update PKGBUILDs to latest upstream versions
  ffmpeg/.SRCINFO
  ffmpeg/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  legcord/.SRCINFO
  legcord/PKGBUILD
  mpv/.SRCINFO
  mpv/PKGBUILD
  nvidia_oc/.SRCINFO
  nvidia_oc/PKGBUILD
  obs-studio/.SRCINFO
  obs-studio/PKGBUILD
  onlyoffice/.SRCINFO
  onlyoffice/PKGBUILD
  preload-ng/.SRCINFO
  preload-ng/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
  qpdf/.SRCINFO
  qpdf/PKGBUILD
  rare/.SRCINFO
  rare/PKGBUILD
  universal-android-debloater/.SRCINFO
  universal-android-debloater/PKGBUILD
  watchman/.SRCINFO
  watchman/PKGBUILD
  zlib-ng/lib32-zlib-ng/.SRCINFO
  zlib-ng/lib32-zlib-ng/PKGBUILD
  zlib-ng/zlib-ng/.SRCINFO
  zlib-ng/zlib-ng/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update qpdf/.SRCINFO
  qpdf/.SRCINFO
Due: none

Update gemini-cli/.SRCINFO
  gemini-cli/.SRCINFO
Due: none

Update nvidia_oc/.SRCINFO
  nvidia_oc/.SRCINFO
Due: none

Update proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/.SRCINFO
Due: none

Update watchman/.SRCINFO
  watchman/.SRCINFO
Due: none

Update ffmpeg/.SRCINFO
  ffmpeg/.SRCINFO
Due: none

Update mpv/.SRCINFO
  mpv/.SRCINFO
Due: none

Update universal-android-debloater/.SRCINFO
  universal-android-debloater/.SRCINFO
Due: none

fix: sync all .SRCINFO files with their PKGBUILDs (#175)
  ffmpeg/.SRCINFO
  firefox/.SRCINFO
  gemini-cli/.SRCINFO
  legcord/.SRCINFO
  mpv/.SRCINFO
  nvidia_oc/.SRCINFO
  obs-studio/.SRCINFO
  onlyoffice/.SRCINFO
  preload-ng/.SRCINFO
  proton-cachyos-slr/.SRCINFO
  qpdf/.SRCINFO
  rare/.SRCINFO
  universal-android-debloater/.SRCINFO
  watchman/.SRCINFO
  zlib-ng/lib32-zlib-ng/.SRCINFO
  zlib-ng/zlib-ng/.SRCINFO
Due: none

chore: update PKGBUILDs to latest upstream versions (#174)
  ffmpeg/.SRCINFO
  ffmpeg/PKGBUILD
  firefox/.SRCINFO
  firefox/PKGBUILD
  gemini-cli/.SRCINFO
  gemini-cli/PKGBUILD
  legcord/.SRCINFO
  legcord/PKGBUILD
  mpv/.SRCINFO
  mpv/PKGBUILD
  nvidia_oc/.SRCINFO
  nvidia_oc/PKGBUILD
  obs-studio/.SRCINFO
  obs-studio/PKGBUILD
  onlyoffice/.SRCINFO
  onlyoffice/PKGBUILD
  preload-ng/.SRCINFO
  preload-ng/PKGBUILD
  proton-cachyos-slr/.SRCINFO
  proton-cachyos-slr/PKGBUILD
  qpdf/.SRCINFO
  qpdf/PKGBUILD
  rare/.SRCINFO
  rare/PKGBUILD
  universal-android-debloater/.SRCINFO
  universal-android-debloater/PKGBUILD
  watchman/.SRCINFO
  watchman/PKGBUILD
  zlib-ng/lib32-zlib-ng/.SRCINFO
  zlib-ng/lib32-zlib-ng/PKGBUILD
  zlib-ng/zlib-ng/.SRCINFO
  zlib-ng/zlib-ng/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Delete .mega-linter.yml
  .mega-linter.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete fudo directory
  fudo/PKGBUILD
  fudo/readme.md
  fudo/symlink.sh
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, check-executables, editorconfig, markdownlint

Update TODO.md
  firefox/TODO.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

⚡ Optimize git ls-files cache to prevent redundant subprocesses
  pr_description.md
  vp-dev.py
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
