Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

shellcheck:
  tags:
  - shell
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shellcheck-pkgbuild:
  tags:
  - pkgbuild
  - lint
  run: "if command -v shellcheck &>/dev/null; then\n  shellcheck -x -a -s bash {staged_files}\nelse\n  echo \"âš ï¸  shellcheck not found, skipping...\"\nfi\n"

shfmt:
  tags:
  - shell
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

shfmt-pkgbuild:
  tags:
  - pkgbuild
  - format
  run: "if command -v shfmt &>/dev/null; then\n  shfmt -ln bash -bn -ci -s -i 2 -w {staged_files}\nelse\n  echo \"âš ï¸  shfmt not found, skipping...\"\nfi\n"

pkgbuild-srcinfo:
  tags:
  - pkgbuild
  - validation
  ...

namcap:
  tags:
  - pkgbuild
  - lint
  run: "if command -v namcap &>/dev/null; then\n  for pkgbuild in {staged_files}; do\n    namcap \"$pkgbuild\" || echo \"âš ï¸  namcap warnings in $pkgbuild\"\n  done\nelse\n  echo \"âš ï¸  namcap not found, skipping...\"\nfi\n"

trailing-whitespace:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if grep -q '[[:space:]]$' \"$file\" 2>/dev/null; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"âœ“ Fixed trailing whitespace in $file\"\n    git add \"$file\"\n  fi\ndone\n"

end-of-file:
  tags:
  - formatting
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" && -s \"$file\" ]]; then\n    if [[ $(tail -c1 \"$file\" | wc -l) -eq 0 ]]; then\n      echo \"\" >> \"$file\"\n      echo \"âœ“ Added final newline to $file\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

yaml-lint:
  tags:
  - yaml
  - lint
  run: "if command -v yamllint &>/dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"âš ï¸  yamllint not found, skipping...\"\nfi\n"

json-lint:
  tags:
  - json
  - lint
  run: "for file in {staged_files}; do\n  if ! jq empty \"$file\" 2>/dev/null; then\n    echo \"âŒ Invalid JSON in $file\"\n    exit 1\n  fi\ndone\n"

check-executables:
  tags:
  - permissions
  run: "for file in {staged_files}; do\n  if [[ -f \"$file\" ]] && head -n1 \"$file\" | grep -q '^#!'; then\n    if [[ ! -x \"$file\" ]]; then\n      chmod +x \"$file\"\n      echo \"âœ“ Made $file executable\"\n      git add \"$file\"\n    fi\n  fi\ndone\n"

editorconfig:
  tags:
  - formatting
  run: "if command -v editorconfig-checker &>/dev/null || command -v ec &>/dev/null; then\n  ec {staged_files} || editorconfig-checker {staged_files}\nelse\n  echo \"âš ï¸  editorconfig-checker not found, skipping...\"\nfi\n"

markdownlint:
  tags:
  - markdown
  - lint
  run: "if command -v markdownlint &>/dev/null; then\n  markdownlint --fix {staged_files} && git add {staged_files}\nelse\n  echo \"âš ï¸  markdownlint not found, skipping...\"\nfi\n"

Update update_pkg.py
  update_pkg.py
Due: none

⚡ Optimize pkg.sh patching logic and fix strict mode bugs (#124)
  autofdo.sh
  cachyos-benchmarker.sh
  fix_pkg.py
  pkg.sh
  test_pkgbuild
  test_pkgbuild_patched
  update_pkg.py
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

fix(chromium): add windows support for scanning chrome native messaging hosts (#125)
  chromium/patches/helium/helium/core/scan-chrome-native-messaging-hosts.patch
  launch_context_win.cc
  native_process_launcher_win.cc
Due: none

Add files via upload
  .github/workflows/jules-bug-fixer.yml
  .github/workflows/jules-ci-failure-fix.yml
  .github/workflows/jules-performance-improver.yml
  .github/workflows/jules-weekly-cleanup.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/agents directory
  .github/agents/bash.agent.md
  .github/agents/github-issue-fixer.agent.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .github/instructions directory
  .github/instructions/actions.instructions.md
  .github/instructions/bash.instructions.md
  .github/instructions/markdown.instructions.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Delete .github/workflows/jules-bug-fixer.yml
  .github/workflows/jules-bug-fixer.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/jules-ci-failure-fix.yml
  .github/workflows/jules-ci-failure-fix.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/jules-performance-improver.yml
  .github/workflows/jules-performance-improver.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Delete .github/workflows/jules-weekly-cleanup.yml
  .github/workflows/jules-weekly-cleanup.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Create dependabot-automerge.yml
  .github/workflows/dependabot-automerge.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

🚀 Turbo: Optimize find_updates.py and fix iteration bug
  find_updates.py
Due: none

🚀 Turbo: Optimize find_updates.py and fix iteration bug (#128)
  find_updates.py
Due: none

🚀 Turbo: Optimize vp-dev.py for speed
  vp-dev.py
Due: none

🚀 Turbo: Optimize vp-dev.py package scanning
  packages.json
  vp-dev.py
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

🚀 Turbo: Optimize vp-dev.py with global file cache and .SRCINFO parsing
  vp-dev.py
Due: none

Update vp-dev.py
  vp-dev.py
Due: none

🚀 Turbo: Optimize vp-dev.py for speed (#129)
  vp-dev.py
Due: none

🚀 Turbo: Optimize vp-dev.py with global file cache and .SRCINFO parsing (#131)
  vp-dev.py
Due: none

refactor(vp-dev): cleanup code, naming and format
  fix_pkg.py
  test_pkgbuild
  test_pkgbuild_patched
  update_pkg.py
  vp-dev.py
Due: none

🚀 Turbo: Optimize pkg.sh with event-driven job throttling (#132)
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

🚀 Turbo: Optimize pkg.sh parallelism and discovery
  lib/helpers.sh
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update jules-performance-improver.yml
  .github/workflows/jules-performance-improver.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update and rename jules-weekly-cleanup.yml to jules-cleanup.yml
  .github/workflows/jules-cleanup.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update jules-cleanup.yml
  .github/workflows/jules-cleanup.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

refactor(vp-dev): cleanup code, naming and format (#132)
  fix_pkg.py
  test_pkgbuild
  test_pkgbuild_patched
  update_pkg.py
  vp-dev.py
Due: none

Update pkg.sh
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

🚀 Turbo: Optimize pkg.sh with event-driven job throttling (#133)
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update lib/helpers.sh
  lib/helpers.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

🚀 Turbo: Optimize pkg.sh parallelism and discovery (#134)
  lib/helpers.sh
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

Update dependabot.yml
  .github/dependabot.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update and rename renovate.json to .github/renovate.json
  .github/renovate.json
  renovate.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Update renovate.json
  .github/renovate.json
Due: trailing-whitespace, end-of-file, json-lint, editorconfig

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md
