Repository Ven0m0/PKG: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, json-lint, check-executables, editorconfig, markdownlint

Path conditions:
  shellcheck: any of: *.sh, but not: ^(wine-tkg-git|chromium)/
  shellcheck-pkgbuild: any of: **/PKGBUILD
  shfmt: any of: *.sh
  shfmt-pkgbuild: any of: **/PKGBUILD
  pkgbuild-srcinfo: any of: **/PKGBUILD
  namcap: any of: **/PKGBUILD
  trailing-whitespace: any of: *.{sh,md,yml,yaml,json,txt}, but not: \.(patch|diff)$
  end-of-file: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff)$
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.json
  check-executables: any of: *.sh
  editorconfig: any of: *.{sh,md,yml,yaml,json,txt,toml}, but not: \.(patch|diff|\.min\.(js|css))$
  markdownlint: any of: *.md

Update glibc/readme.md
  glibc/readme.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Claude/audit dependencies (#114)
  DEPENDENCY_AUDIT_REPORT.md
  DEPENDENCY_BLOAT_ANALYSIS.md
  DEPENDENCY_POLICY.md
  glibc/readme.md
  localepurge/.SRCINFO
  localepurge/PKGBUILD
  proton-cachyos/PKGBUILD
  wine-cachyos/PKGBUILD
  wine-tkg-git/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, editorconfig, markdownlint

Optimize and update CLAUDE.md with enhanced navigation and references
  CLAUDE.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Optimize and update CLAUDE.md with enhanced navigation and references (#115)
  CLAUDE.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Rename .github/agents/copilot-instructions.md to .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: trailing-whitespace, end-of-file, editorconfig, markdownlint

Update vp-dev.py
  vp-dev.py
Due: none

Update .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

fix: remove duplicate cache key in lint workflow
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

⚡ Parallelize package scanning in vp-dev.py (#116)
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  vp-dev.py
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

fix(lint): restore arch-pkgbuild-builder to v1.25 for consistency with build.yml
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update mozconfig
  firefox/mozconfig
Due: none

Update wine-cachyos/PKGBUILD
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update .gitleaks.toml
  .gitleaks.toml
Due: end-of-file, editorconfig

⚡ Optimize pkg.sh: Batch patch PKGBUILDs to reduce I/O (#117)
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .gitleaks.toml
  pkg.sh
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

Update .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

Enable wine-staging patches in wine-cachyos PKGBUILD (#119)
  .github/workflows/dependency-review.yml
  wine-cachyos/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, editorconfig

java21-openjdk: re-enable -fexceptions and fix CFLAGS assignment (#118)
  java/java21-openjdk/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

Update .mega-linter.yml
  .mega-linter.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

mesa-git: Validate experimental flags and fix syntax (#120)
  .github/workflows/lint.yml
  .github/workflows/repo.yml
  .mega-linter.yml
  mesa-git/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, editorconfig

update (#122)
  .github/workflows/lint.yml
Due: trailing-whitespace, end-of-file, yaml-lint, editorconfig

perf: Optimize list lookups in find_updates.py
  find_updates.py
Due: none

fix: Resolve CI failures and apply find_updates.py optimization
  .github/actions/pkgbuild/Dockerfile
  .github/actions/pkgbuild/entrypoint.sh
  .github/actions/pkgremove/Dockerfile
  .github/actions/pkgremove/entrypoint.sh
  .github/workflows/_job_pkgbuild.yml
  .github/workflows/_job_pkgremove.yml
  .github/workflows/_job_pkgrepo.yml
  .github/workflows/_job_schedule_biweekly.yml
  .github/workflows/_job_schedule_weekly.yml
  .github/workflows/lint.yml
  .github/workflows/repo.yml
  .github/workflows/update-packages.yml
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

⚡ Optimize find_updates.py and fix CI failures
  .github/workflows/lint.yml
  ccache-ext/PKGBUILD
  intel-ucode-min/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, editorconfig

⚡ Optimize find_updates.py and fix extensive CI failures
  dolphin-emu/PKGBUILD
  firefox/PKGBUILD
  legcord/PKGBUILD
  mpv/PKGBUILD
  qpdf/PKGBUILD
  rare/PKGBUILD
  wine-cachyos/PKGBUILD
  wine-tkg-git/PKGBUILD
Due: shellcheck-pkgbuild, shfmt-pkgbuild, pkgbuild-srcinfo, namcap

⚡ Optimize find_updates.py package lookup complexity (#123)
  .github/actions/pkgbuild/Dockerfile
  .github/actions/pkgbuild/entrypoint.sh
  .github/actions/pkgremove/Dockerfile
  .github/actions/pkgremove/entrypoint.sh
  .github/workflows/_job_pkgbuild.yml
  .github/workflows/_job_pkgremove.yml
  .github/workflows/_job_pkgrepo.yml
  .github/workflows/_job_schedule_biweekly.yml
  .github/workflows/_job_schedule_weekly.yml
  .github/workflows/repo.yml
  .github/workflows/update-packages.yml
  ccache-ext/PKGBUILD
  dolphin-emu/PKGBUILD
  find_updates.py
  firefox/PKGBUILD
  intel-ucode-min/PKGBUILD
  legcord/PKGBUILD
  mpv/PKGBUILD
  qpdf/PKGBUILD
  rare/PKGBUILD
  wine-cachyos/PKGBUILD
  wine-tkg-git/PKGBUILD
Due: shellcheck, shellcheck-pkgbuild, shfmt, shfmt-pkgbuild, pkgbuild-srcinfo, namcap, trailing-whitespace, end-of-file, yaml-lint, check-executables, editorconfig

Optimize pkg.sh patching logic and fix strict mode bugs
  autofdo.sh
  cachyos-benchmarker.sh
  fix_pkg.py
  pkg.sh
  test_pkgbuild
  test_pkgbuild_patched
  update_pkg.py
Due: shellcheck, shfmt, trailing-whitespace, end-of-file, check-executables, editorconfig

fix(chromium): add windows support for scanning chrome native messaging hosts
  chromium/patches/helium/helium/core/scan-chrome-native-messaging-hosts.patch
  launch_context_win.cc
  native_process_launcher_win.cc
Due: none

Update test_pkgbuild
  test_pkgbuild
Due: none
